* {
  --on-surface-disabled: rgba(0, 0, 0, 0.38);
  --on-surface-high-emphasis: rgba(0, 0, 0, 0.87);
  --on-surface-medium-emphasis: rgba(0, 0, 0, 0.6);
  --primary-100: rgba(194, 231, 200, 1);
  --primary-500: rgba(35, 176, 74, 1);
  --secondary-100: rgba(250, 250, 250, 1);
  --secondary-200: rgba(245, 245, 245, 1);
  --secondary-700: rgba(129, 129, 129, 1);
  --outline: rgba(0, 0, 0, 0.12);
  --surface: rgba(255, 255, 255, 1);
  --surface-overlay: rgba(33, 33, 33, 0.08);
  --link: rgba(46, 155, 194, 1);
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F5F5F5;
}
a {
  text-decoration: none;
}
header {
  background-color: var(--surface);
}

.wrapper {
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
}

.nav {
  display: flex;
  background-color: inherit;
}

.tab {
  padding: 16px 35px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  background-color: inherit;
  color: var(--on-surface-medium-emphasis);
  cursor: pointer;
}

.tab-current {
  border-bottom: 2px solid var(--primary-500);
  color: var(--primary-500);
}

.icon {
  cursor: pointer;
  float: left;
  background: var(--surface) url(./assets/header_sprite.png) no-repeat;
}

.logo .icon {
  width: 131.36px;
  height: 23.552px;
  background-position: -10px -10px;
}

.user .icon {
  width: 32px;
  height: 32px;
  background-position: -10px -54px;
}

hr {
  border: 1px solid var(--surface-overlay);
  width: 100%;
}

/* ========================
Main
======================== */
.wrapper-main {
  margin: 52px auto;
  width: 73%;
}

.search {
  margin-bottom: 48px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--outline);
  border-radius: 4px;
}

.search__input {
  width: 100%;
  background: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.search__input::focus {
  border: none;
}

.search__input::placeholder {
  color: var(--on-surface-disabled);
}

.qr_scanner {
  margin-left: 16px;
}

.fav {
  margin-left: auto;
  margin-right: auto;
}

.fav__title {
  margin-bottom: 16px;
  display: flex;
  color: var(--secondary-700);
}

.fav__icon {
  margin-right: 16px;
  padding: 2px 0;
}

.fav__title--text {
  color: var(--on-surface-medium-emphasis);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.fav__cart {
  border-radius: 4px;
  border: 1px solid var(--outline);
}

.cart__container {
  padding: 0 12px;
  background-color: var(--surface);
}

.card {
  display: grid;
  padding: 8px 12px;
  grid-template-columns: 40px 1fr 100px 40px;
  column-gap: 16px;
  background: none;
}

.header__text {
  padding: 10px 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: var(--on-surface-medium-emphasis);
  background: none;
}

.card__img {
  width: 40px;
  height: auto;
  border-radius: 40px;
}

.card__text {
  width: 100%;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  color: var(--on-surface-high-emphasis);
  background: none;
}

select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.card__state {
  margin: 8px 0;
  padding: 2px 4px 2px 8px;
  border-radius: 2px;
  border: 1px solid var(--on-surface-disabled);
  color: var(--on-surface-medium-emphasis);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  background: none;
}

select:not([multiple]) {
  padding-right: 1.2em;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.1em) 0.1em;
  background-size: 24px;
  background-image: url("./assets/arrow_drop_down_24px.svg");
}

.share {
  background: none;
}

.notification {
  background: none;
  cursor: pointer;
}


.product {
  padding: 8px 12px;
}


/* ========================
Analytics
======================== */
.wrapper-analytics {
  margin: 52px auto;
  width: 85%;
}

.card-data {
  width: 100%;
  border-radius: 4px;
  background-color: var(--surface);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.20), 0px 3px 1px 0px var(--outline), 0px 2px 2px 0px rgba(0, 0, 0, 0.14);
}

.card-top {
  display: flex;
}

.card-top>img {
  margin: 16px;
}

.full-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: normal;
  color: var(--on-surface-disabled);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.name {
  color: var(--on-surface-high-emphasis);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.state {
  color: var(--on-surface-medium-emphasis);
  font-size: 12px;
  line-height: 16px;
}

.action {
  display: flex;
  padding: 8px;
  justify-content: flex-end;
  align-items: center;
  flex: 1 0 0;
}

.action select {
  margin: 8px;
  border-color: var(--primary-500);
  color: var(--primary-500);
}

.analitics-icon {
  padding: 8px;
  cursor: pointer;
}

.settings {
  opacity: 0.6;
}

.actions {
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
}

.actions__state {
  padding: 8px 12px 8px 16px;
  border: none;
  color: var(--on-surface-high-emphasis);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  background: none;
  cursor: pointer;
}

.actions__state:not([multiple]) {
  padding-right: 2.3em;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.1em) 0.6em;
  background-size: 24px;
  background-image: url("./assets/arrow_drop_down_24px_black.svg");
}

.save {
  display: flex;
  height: 40px;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 24px;
}

.alarm {
  border-radius: 4px;
  border: 1px solid var(--outline);
}

.save-btn {
  padding: 8px 8px 8px 16px;
  display: flex;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid var(--outline);
}

.save-btn button {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--primary-500);
  background: none;
  cursor: pointer;
}

.save-btn .parameters {
  padding-left: 4px;
  width: 24px;
  border-left: solid 1px var(--primary-500);
  font-size: 20px;
  font-weight: 600;

}

.date-time {
  display: flex;
  padding: 8px 16px;
}

input[type="date"] {
  padding: 10px 8px;
  border: 1px solid var(--outline);
}

.arrow {
  padding: 10px 12px;
}

.times-chips {
  padding: 8px 16px 20px;
}

.times-chips input[type="radio"] {
  display: none;
}

.times-chips label {
  display: inline-block;
  margin-right: 8px;
  padding: 6px 12px;
  border-radius: 16px;
  background-color: var(--surface-overlay);
  color: var(--on-surface-medium-emphasis);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  user-select: none;
  cursor: pointer;
}

.times-chips input[type="radio"]:checked+label {
  background-color: var(--primary-100);
}

.table {
  padding: 12px 16px;
}

.table-row {
  display: grid;
  grid-template-columns: 160px 130px 1fr 140px 140px;
}

.table-row .cell {
  padding: 12px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.table-row .header,
.table-row .duration {
  color: var(--on-surface-disabled);
}

.status .status-stat {
  color: var(--primary-500);
}

.status .work-type,
.jobs {
  color: var(--on-surface-medium-emphasis);
}

.jobs {
  height: 100px;
}

.result {
  height: 100px;
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}

.line {
  flex: 1 0 0;
  overflow: hidden;
  color: var(--on-surface-medium-emphasis);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.line span {
  font-weight: 700;
}

.checked {
  padding: 0;
  flex-shrink: 0;
}

.table-row .user {
  color: var(--link);
}

/* ========================
Error
======================== */
.wrapper-error {
  margin: 40vh auto;
  text-align: center;
}